@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@layer components {
  .light {
    color: #9EE493;
  }
  .dark{
    color: #144337;
  }
  .font-my{
    font-family: "Noto Sans", sans-serif;
  }
  .ok{
    flex-grow: 1;
  }
}